#profileDropdown {
    display: flex;
    align-items: center;
    
}

#me-dropdown {
    font-size: x-small;
    flex: auto;
}

#position-nav-items {
    justify-content: space-evenly;
    /* align-items: center; */
    

}

.position-nav-link-dropdown {
    padding-top: 10px;
}

#top-profile-div {
    display: flex;
    align-items: center;
}

.top-profile-div-child {
    justify-content: space-between;
}