{% extends "blog/base.html" %}

{% block content %}
<div class="container text-center" id="landing-container">
    <h1 class="mb-3">Welcome to the ITP 150 Blog</h1>
    <p class="text-muted">A place to share thoughts about Python</p>

    <!-- Navigation Pills -->
    <ul class="nav nav-pills justify-content-center mb-3" id="landing-nav">
        <li class="nav-item">
            <a href="{% url 'login' %}" class="nav-link active" id="tab-login">Login</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'register' %}" class="nav-link border" id="tab-register">Register</a>
        </li>
    </ul>
</div>
{% endblock %}
