{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6" id="top-profile-div">  <!-- ✅ Now same width as Activity section -->
                <div class="row">
                    <div class="col d-flex flex-column align-items-center top-profile-div-child">
                        <img src="{{ profile.profile_picture.url }}" class="rounded-circle" alt="Profile Picture" height="100" width="100">
                        <div class="d-flex">
                            <h5 class="me-1">{{ user.username }}</h5>
                            <a href="{% url 'profile_settings' %}" class="ms-1"><img src="{% static 'blog/images/settings-icon.png' %}" alt="settings" height="15" width="15"></a>
                        </div>
                        
                    </div>
                    <!-- <div class="col d-flex justify-content-end align-items-center top-profile-div-child">
                        {% if user == request.user %}
                            <a href="{% url 'profile_settings' %}" class="btn btn-primary">Edit Profile</a>
                        {% endif %}
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    

    <!-- <hr> -->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 text-center" id="bottom-profile-div">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-start">Activity</h4>
                    <button class="btn btn-outline-primary">Create Post</button>
                </div>
                {% for post in posts %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="card-title">{{ post.title }}</h4>
                            <p class="card-text">{{ post.content }}</p>
                            <small class="text-muted">Posted on {{ post.created_at }}</small>
                        </div>
                    </div>
                {% empty %}
                    <p>No posts yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>
    
    
</div>
{% endblock %}
